
  
  footer {
    background-color: darkslategrey;
  }

  .copyright{
    width: auto;
    text-align: center;
    padding: 1rem;
    background: var(--whiteGray);
    color: var(--black);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    text-decoration: none;
    color: rgb(193, 166, 96);
    transition: transform 0.5s;
}
.copyright i:hover{
    color: rgb(234, 252, 98);
    transform: scaleX(-100%) scale(150%);
}
